@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PTSans-Regular.ttf");
}
@font-face {
    font-family: "PTSans-Bold";
    src: url("../fonts/PTSans-Bold.ttf");
}

#all-error-codes {
    position: absolute;
    top: 120px;
    left: 85px;
    right: 85px;
}
#error-group-100 {
    position: relative;
    left: 35px;
    margin-bottom: 75px;
}
#error-group-200 {
    position: relative;
    left: 35px;
    margin-bottom: 75px;
}
#error-group-300 {
    position: relative;
    left: 35px;
    margin-bottom: 75px;
}
.error-container {
    position: relative;
    left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.error-code {
    font-family: PTSans-Regular, sans-serif;
}
.explanation {
    font-family: PTSans-Regular, sans-serif;
    position: absolute;
    left: 60px;
}
.explanation a {
    color: #808080;
    text-decoration: none;
}
.explanation a:hover {
    color: #ff0000;
    text-decoration: underline;
}